---
layout: base.njk
title: All Posts
description: Every post, in order.
permalink: /blog/
---
<h1>All Posts</h1>
<div class="article-list">
  {% for post in collections.posts %}
  <a class="article-row" href="{{ post.url }}">
    <span class="article-thumb">
      {% if post.data.image %}<img src="{{ post.data.image }}" alt="">{% endif %}
    </span>
    <span class="article-body">
      <span class="article-date">{{ post.date | readableDate }}</span>
      <span class="article-title">{{ post.data.title }}</span>
      <span class="article-excerpt">{{ post.data.excerpt or (post.templateContent | excerpt(140)) }}</span>
    </span>
  </a>
  {% else %}
  <p>First post is coming soon.</p>
  {% endfor %}
</div>
