---
layout: base.njk
title: Start Here
description: New here? Start with this.
permalink: /start-here/
---
<h1>Start Here</h1>
<p class="page-lede">Hi, I'm glad you're here. I'm a nurse in my 40s, working on getting to financial independence a little later than most people talk about. I'll be adding more soon. Until then, the blog is the best place to get to know me. Thanks for stopping by.</p>
